In [40]:
list1 = ["Apple", "Banana", "Cherry", "Grapes", "Orange"]
newlist = [x.upper() for x in list1]
print(newlist)

hello = ["hello" for x in list1]
print(hello)

['APPLE', 'BANANA', 'CHERRY', 'GRAPES', 'ORANGE']
['hello', 'hello', 'hello', 'hello', 'hello']

In [41]:
list2 =[x if x != "Banana" else "Pineapple" for x in list1]
print(list2)

['Apple', 'Pineapple', 'Cherry', 'Grapes', 'Orange']

In [42]:
list2.sort()
print(list2)

['Apple', 'Cherry', 'Grapes', 'Orange', 'Pineapple']

In [43]:
list2.sort(reverse = True)
list2

['Pineapple', 'Orange', 'Grapes', 'Cherry', 'Apple']

In [44]:
list2.reverse()
list2

['Apple', 'Cherry', 'Grapes', 'Orange', 'Pineapple']

In [45]:
list3 = [4, 5, 9, 76, -90]
list3.reverse()
list3

[-90, 76, 9, 5, 4]

In [46]:
list4 = ["apple", "Banana", "Apricot", "orange", "Papaya"]
list4.sort()
list4

['Apricot', 'Banana', 'Papaya', 'apple', 'orange']

In [47]:
list4.sort(reverse = True)

In [48]:
list4

['orange', 'apple', 'Papaya', 'Banana', 'Apricot']

In [49]:
list4.reverse()
list4

['Apricot', 'Banana', 'Papaya', 'apple', 'orange']

In [50]:
list3.insert(2,10)
print(list3)

[-90, 76, 10, 9, 5, 4]

In [51]:
list3.pop(2) #index

10

In [52]:
list3.remove(5)
list3 #item

[-90, 76, 9, 4]

In [53]:
mylist = ["apple", "Banana", "Apricot", "orange", "Papaya"]
mylist.sort(key = str.lower)
print(mylist)
mylist = ["apple", "Banana", "Apricot", "orange", "Papaya"]
mylist.sort()
print(mylist)

['apple', 'Apricot', 'Banana', 'orange', 'Papaya']
['Apricot', 'Banana', 'Papaya', 'apple', 'orange']

In [54]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
print(list1 + list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
list3 = list2
for x in list1:
    list3.append(x)
print(list3)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

In [56]:
list3.clear()

In [57]:
newlist = [x for x in range(20)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [58]:
for x in range(len(newlist)):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [59]:
[print(x) for x in newlist]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [60]:
for x in range(len(newlist)):
    print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
list4 = [x for x in range(10) if x < 5]
list4

[0, 1, 2, 3, 4]

In [62]:
tup = ("cherry", "banana", "apple")
print(type(tup))

<class 'tuple'>

In [63]:
tup2 = ("cherry",)
print(type(tup2))

<class 'tuple'>

In [64]:
tup3 = ("Marie", "Anne", 45)
print(tup3)

('Marie', 'Anne', 45)

In [65]:
tup4 = (1,2,4,5,7)
print(tup4[1:3])

(2, 4)

In [66]:
print(tup4.index(4))

2

In [67]:
tup5 = ("Samantha", "Monica", "Belluci")
list5 = list(tup5)
list5[1] = "Marie Anne"
print(list5, type(list5))

['Samantha', 'Marie Anne', 'Belluci'] <class 'list'>

In [68]:
list5.append("Brittany")
print(list5)
list5.remove("Marie Anne")
list5

['Samantha', 'Marie Anne', 'Belluci', 'Brittany']

['Samantha', 'Belluci', 'Brittany']

In [70]:
for x in range(len(tup5)):
    print(tup5[x])

Samantha
Monica
Belluci

In [71]:
tup = (1, 2, 3, 4, 5, 6, 7)
i = 0
while i < len(tup):
    print(tup[i])
    i += 1

1
2
3
4
5
6
7

In [72]:
tup6 = tup + tup5
tup6

(1, 2, 3, 4, 5, 6, 7, 'Samantha', 'Monica', 'Belluci')

In [73]:
tup7 = tup * 2
tup7

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [78]:
tup7 = (30 , 40)
exists = 30 in tup7
print(exists)

True

In [79]:
print(max(tup7))
print(min(tup7))

40
30

In [80]:
a = 5
b = 6
c = 7
tup = (a,b,c)
def f(a):
    p, q, r = a
    return p + q + r
print(f(tup))

18

In [81]:
tup1 = (1,2,3,4,5,6)
tup2 = (4,5,6,7,8)
def common(tup1, tup2):
    return tuple(x for x in tup1 if x in tup2)
print(common(tup1,tup2))

(4, 5, 6)

In [82]:
def merge_and_remove_duplicate(tup1, tup2):
    return tuple(set(tup1).union(tup2))

In [83]:
merge_and_remove_duplicate(tup1, tup2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [85]:
# to find first and last element

tup = (0,1,2,3,4,5)
def first_and_last(tup):
    return tup[0], tup[-1]
f, l = first_and_last(tup)
print(f, l)

0 5